%link-reset {
  text-decoration: none;
  color: inherit;
}

.header {
  border-bottom: 1px solid #B0B0B0;
  &__container {
    margin: 0px auto;
    display: flex;
    max-width: 81.25rem;
    min-height: 4.75rem;
    align-items: center;
  }

  &__logo {
    width: fit-content;
    font-size: 1.875rem;
    @extend %link-reset;

  }

  &__menu {
    flex: 1 1 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    .menu {
      &__list {
        display: flex;
        gap: 40px;
      }
    
      &__item {
        display: flex;
        gap:3px;
        align-items: center;
        
      }
    
      &__link {
        @extend %link-reset;
        font-size: 1.25rem;
        font-weight: 400;
      }

      &__icon {
        background: url("../../assets/icons/arrow.svg");
        width: 1.5rem;
        height: 1.5rem;
      }
  }

}

}

.header {

  &__button {
    
    .button {
  
      &__link {
        @extend %link-reset;
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 0.375rem; //важно
      }
    
      &__icon {
        background: url("../../assets/icons/user.svg") center no-repeat;
        // margin-right: 0.375rem;
        width: 1.5rem;
        height: 1.5rem;
      }
    
      &__text {
        font-size: 1.25rem;
        font-weight: 400;
      }
    }
  }
}


